.h1 {
  font-family: roboto;
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
}
@media (max-width: 500px) {
  .h1 {
    font-size: 36px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .h1 {
    font-size: 5vw;
    line-height: 6vw;
  }
}
@media (max-width: 500px) {
  .h1 {
    line-height: 44px !important;
  }
}
.h2 {
  font-family: roboto;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
}
@media (max-width: 500px) {
  .h2 {
    font-size: 24px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .h2 {
    font-size: 3vw;
    line-height: 3.666666666666667vw;
  }
}
.h3 {
  font-family: roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-top: 0;
}
@media (max-width: 500px) {
  .h3 {
    font-size: 21px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .h3 {
    font-size: 2vw;
    line-height: 2.416666666666667vw;
  }
}
.h4 {
  font-family: roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}
@media (max-width: 500px) {
  .h4 {
    font-size: 16px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .h4 {
    font-size: 1.5vw;
    line-height: 2.416666666666667vw;
  }
}
.h5 {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}
@media (max-width: 500px) {
  .h5 {
    font-size: 14px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .h5 {
    font-size: 1.333333333333333vw;
    line-height: 2.416666666666667vw;
  }
}
.h6 {
  font-family: roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
}
@media (max-width: 500px) {
  .h6 {
    font-size: 12px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .h6 {
    font-size: 1.166666666666667vw;
    line-height: 2.416666666666667vw;
  }
}
.p {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  margin-top: 0;
}
@media (max-width: 500px) {
  .p {
    font-size: 14px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .p {
    font-size: 1.333333333333333vw;
    line-height: 2.133333333333334vw;
  }
}
.p-small {
  font-family: roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 25.6px;
}
@media (max-width: 500px) {
  .p-small {
    font-size: 12px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .p-small {
    font-size: 1.166666666666667vw;
    line-height: 2.133333333333334vw;
  }
}
.p-micro {
  font-family: roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 25.6px;
}
@media (max-width: 500px) {
  .p-micro {
    font-size: 11px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .p-micro {
    font-size: 1vw;
    line-height: 2.133333333333334vw;
  }
}
.p-big {
  font-family: roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
@media (max-width: 500px) {
  .p-big {
    font-size: 16px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .p-big {
    font-size: 1.5vw;
    line-height: 2.666666666666667vw;
  }
}
.li {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}
@media (max-width: 500px) {
  .li {
    font-size: 14px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .li {
    font-size: 1.333333333333333vw;
    line-height: 2.133333333333334vw;
  }
}
@media (max-width: 500px) {
  .li {
    line-height: 20px !important;
  }
}
@media (max-width: 500px) {
  .p--text-transitions {
    line-height: 20px !important;
  }
}
@media (max-width: 500px) {
  .trigger-types--text {
    line-height: 20px !important;
  }
}
.factoid__text {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}
@media (max-width: 500px) {
  .factoid__text {
    font-size: 16px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .factoid__text {
    font-size: 1.333333333333333vw;
    line-height: 2.133333333333334vw;
  }
}
.factoid__batch {
  font-family: roboto;
  font-size: 57px;
  font-weight: 500;
  line-height: 25.6px;
}
@media (max-width: 500px) {
  .factoid__batch {
    font-size: 57px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .factoid__batch {
    font-size: 4.75vw;
    line-height: 2.133333333333334vw;
  }
}
.widgets__type {
  font-family: roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 25.6px;
}
@media (max-width: 500px) {
  .widgets__type {
    font-size: 14px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .widgets__type {
    font-size: 1.166666666666667vw;
    line-height: 2.133333333333334vw;
  }
}
@media (max-width: 1024px) {
  .widgets__type {
    font-size: 12px;
    line-height: 16px;
  }
}
.widgets__headline {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}
@media (max-width: 500px) {
  .widgets__headline {
    font-size: 16px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .widgets__headline {
    font-size: 1.333333333333333vw;
    line-height: 2.133333333333334vw;
  }
}
body {
  padding: 0;
  margin: 0;
}
.screen {
  position: relative;
  padding: 120px 120px 120px 120px;
}
@media (min-width: 1200px) {
  .screen {
    padding: 10vw 10vw 10vw 10vw;
  }
}
.screen-first {
  border: 15px solid #33c4cd;
  height: 100vh;
  box-sizing: border-box;
  min-height: 720px;
}
@media (max-width: 1024px) {
  .screen-first {
    padding: 120px 60px 120px 120px;
  }
}
@media (max-width: 768px) {
  .screen-first {
    padding: 30px 30px 30px 30px;
  }
}
@media (max-width: 1024px) and (min-width: 1200px) {
  .screen-first {
    padding: 10vw 5vw 10vw 10vw;
  }
}
@media (max-width: 768px) and (min-width: 1200px) {
  .screen-first {
    padding: 2.5vw 2.5vw 2.5vw 2.5vw;
  }
}
.screen-second {
  margin: 0;
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .screen-second {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .screen-second {
    padding: 60px 60px 60px 60px;
  }
}
@media (max-width: 500px) {
  .screen-second {
    padding: 50px 50px 60px 50px;
  }
}
@media (max-width: 1024px) and (min-width: 1200px) {
  .screen-second {
    padding: 5vw 5vw 5vw 5vw;
  }
}
.screen-third {
  display: flex;
  flex-direction: row;
  padding: 0 120px 120px 120px;
}
@media (min-width: 1200px) {
  .screen-third {
    padding: 0vw 10vw 10vw 10vw;
  }
}
@media (max-width: 1024px) {
  .screen-third {
    padding: 30px 30px 60px 30px;
  }
}
@media (max-width: 500px) {
  .screen-third {
    padding: 0 30px 60px 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .screen-third {
    padding: 0 60px 60px 60px;
  }
}
@media (max-width: 768px) {
  .screen-third {
    flex-direction: column;
  }
}
.screen-forth {
  padding: 0 30px 60px 25px;
}
@media (min-width: 1200px) {
  .screen-forth {
    padding: 0 300px 60px 300px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .screen-forth {
    padding: 0vw 25vw 5vw 25vw;
  }
}
.screen-fifth {
  border: 15px solid #33c4cd;
  overflow: auto;
}
@media (max-width: 500px) {
  .screen-fifth {
    padding: 30px;
    overflow: auto;
  }
}
.screen-fifth__contactus {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .screen-fifth__contactus {
    margin-top: 60px;
  }
}
.buttons-wrapper {
  flex: 3;
/*@media (max-width: d_tablet)
		position relative*/
}
@media (min-width: 813px) {
  .buttons-wrapper {
    align-self: flex-end;
  }
}
@media (max-width: 500px) {
  .buttons-wrapper {
    margin-top: 20vh;
  }
}
.screen__container-one {
  flex: 1;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .screen__container-one {
    margin-right: 60px;
    margin-bottom: 0;
  }
}
.screen__container-two {
  flex: 1;
}
.flex-container {
  display: flex;
}
@media (max-width: 813px) {
  .flex-container {
    flex-direction: column;
  }
}
* {
  outline: 0;
}
a,
.nav * {
  user-select: none;
}
.ul {
  padding-left: 15px;
}
.li {
/*padding-left ms025*/
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .li {
    margin-bottom: 15px;
  }
}
.ul--links {
  list-style: none;
  padding-left: 0;
}
.li--links {
  padding-left: 0;
  margin-bottom: 0;
}
.link--footer {
  padding-left: 0;
  color: #000;
  text-decoration: none;
  border-bottom: none;
}
.link--footer:hover {
  color: #06b7c2;
  text-decoration: none;
  border-bottom: 2px solid #06b7c2;
}
.footer-links__li {
  margin-bottom: 6px;
}
.link--footer-facebook {
  border-bottom: 2px solid transparent !important;
}
.button-simple {
  width: 187px;
  height: 38px;
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  background: #fff;
  color: #33c4cd;
  border: 2px solid #33c4cd;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  user-select: none;
}
@media (min-width: 1200px) {
  .button-simple {
    width: 15.583333333333332vw;
  }
}
@media (min-width: 1200px) {
  .button-simple {
    height: 3.166666666666667vw;
  }
}
@media (max-width: 500px) {
  .button-simple {
    font-size: 16px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .button-simple {
    font-size: 1.333333333333333vw;
    line-height: 2.133333333333334vw;
  }
}
@media (max-width: 768px) {
  .button-simple {
    width: 100%;
    height: 48px;
  }
}
.button-simple:hover {
  color: #fff;
  background: #33c4cd;
  border: 2px solid #33c4cd;
  cursor: pointer;
}
.button-simple--fill {
  color: #fff;
  background: #33c4cd;
  border: 0px solid #33c4cd;
}
.button-simple--fill:hover {
  color: #fff;
  background: #039dab;
  border: 0px solid #33c4cd;
  cursor: pointer;
}
.button-simple:first-child {
  margin-right: 30px;
}
@media (max-width: 768px) {
  .button-simple:first-child {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.icon-relap-logo {
  fill: #33c4cd;
  width: 154px;
  height: 44px;
}
@media (min-width: 1200px) {
  .icon-relap-logo {
    width: 12.833333333333332vw;
  }
}
@media (min-width: 1200px) {
  .icon-relap-logo {
    height: 3.666666666666667vw;
  }
}
@media (max-width: 500px) {
  .icon-relap-logo {
    width: 110px;
  }
}
.icon-magnet {
  height: 185px;
  flex: 1;
}
@media (min-width: 1200px) {
  .icon-magnet {
    height: 15.416666666666668vw;
  }
}
@media (min-width: 768px) and (max-width: 813px) {
  .icon-magnet {
    bottom: auto;
    margin: 60px 33vw 0 auto;
  }
}
@media (max-width: 813px) {
  .icon-magnet {
    height: 135px;
    width: 165px;
    display: block;
    margin: 60px auto 0 auto;
  }
}
.factoids .factoid:nth-child(2) {
  margin: 42px auto;
}
.factoids .factoid:nth-child(1) {
  margin-top: 60px;
}
.factoid {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .factoid {
    text-align: left;
  }
}
.factoid__text {
  flex: 1;
}
.factoid__batch {
  flex: 1;
  margin: 15px 0 15px 0;
  color: #33c4cd;
}
.brands {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1024px) {
  .brands {
    margin-right: 30px;
  }
}
@media (max-width: 500px) {
  .brands {
    flex-direction: column;
    margin-right: 0;
  }
}
.brands__row {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .brands__row--first .brands__logo {
    margin: 0;
  }
}
.brands__row:nth-child(-2n+2) {
  margin: 0 7% 20px 7%;
}
.brands__logo {
  width: 100px;
  height: 90px;
  margin: 0 auto;
}
.icon-gettaxi {
  width: 77px;
  height: 70px;
}
.icon-toyota,
.icon-IBM,
.icon-bork,
.icon-Tele2,
.icon-audi_black,
.icon-lenovo,
.icon-Intel {
  width: 77px;
/*@media (max-width: d_office)
		width: 80px*/
}
.icon-p-bullet {
  float: left;
  width: 24px;
  height: 32px;
  padding-right: 15px;
}
.p--text-transitions {
  display: table;
}
.widgets__wrapper {
  display: flex;
  margin-bottom: 45px;
  margin-left: -15px;
}
@media (max-width: 500px) {
  .widgets__wrapper {
    margin-bottom: 12px;
  }
}
.widgets__card {
  flex: 1;
/*width: 138px*/
  height: 177px;
  background: #fff;
  float: left;
  padding: 15px;
  text-align: left;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.widgets__card:hover {
  background: rgba(120,215,221,0.2);
  cursor: pointer;
  border-radius: 0px;
}
@media (max-width: 1024px) {
  .widgets__card {
    width: 10vw;
    height: 17vw;
    padding: 12px;
  }
}
@media (max-width: 500px) {
  .widgets__card {
    height: 34vw;
    padding: 15px 15px 0 15px;
  }
}
.widgets__card:nth-child(-2n+2) {
  margin: auto 30px;
}
@media (max-width: 1200px) {
  .widgets__card:nth-child(-2n+2) {
    margin: auto 0;
  }
}
.widgets__icon {
  width: 137px;
}
@media (max-width: 1024px) {
  .widgets__icon {
    width: 11vw;
    height: 13vw;
  }
}
@media (max-width: 500px) {
  .widgets__icon {
    width: 22vw;
    height: 24vw;
  }
}
.widgets__headline {
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .widgets__headline {
    margin-bottom: 12px;
  }
}
.widgets__type {
  text-align: left;
  margin-bottom: 0px;
}
.p--text-transitions {
  margin-top: 30px;
  margin-bottom: 0;
}
@media (max-width: 500px) {
  .p--more-partners {
    text-align: center;
    margin-bottom: 0;
  }
}
.trigger-types__list-item:nth-child(2) {
  margin: 45px 0 45px 0;
}
.trigger-types__icons {
  float: left;
  margin-right: 30px;
}
.trigger-types__icon {
  width: 60px;
  height: 64px;
}
@media (max-width: 500px) {
  .trigger-types__icons1 {
    width: 31px;
    height: 38px;
  }
}
@media (max-width: 500px) {
  .trigger-types__icons2,
  .trigger-types__icons3 {
    width: 37px;
    height: 38px;
  }
}
.trigger-types__body {
  display: block;
  overflow: auto;
}
@media (min-width: 768px) {
  .screen-fifth__header {
    float: left;
    width: 50%;
  }
}
.screen-fifth__contactus {
  float: left;
}
@media (min-width: 768px) {
  .screen-fifth__contactus {
    float: right;
    width: 50%;
  }
}
@media (max-width: 500px) {
  .screen-fifth__contactus {
    margin-bottom: 30px;
    float: none;
  }
}
.screen-fifth__footer-links {
  float: left;
  clear: both;
}
.facebook-icon {
  width: 7px;
  height: 14px;
  padding: 2px 53px 6px 0;
}
@media screen and (min-width: 1200px) {
  .facebook-icon {
    width: 0.58333vw;
    height: 1.16667vw;
  }
}
@media screen and (min-width: 720px) {
  .facebook-icon:hover {
    fill: #33c4cd;
  }
}
.h3--third-screen,
.ul--third-screen {
  margin-bottom: 60px;
}
@media (max-width: 500px) {
  .h3--third-screen,
  .ul--third-screen {
    margin-bottom: 30px;
  }
}
@media (min-width: 500px) {
  .li--third-screen {
    padding-left: 15px;
  }
}
.footer-btn {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 500px) {
  .footer-btn {
    display: flex;
  }
}
@media (min-width: 768px) {
  .contactus {
    margin-top: -17px;
  }
}
.contactus__input-wrapper {
  position: relative;
  margin-bottom: 30px;
  height: 60px;
}
.contactus__input {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  height: 60px;
  border: 1px solid transparent;
  border-bottom: 2px solid #bfc4c8;
  color: #000;
}
.contactus__input:hover,
.contactus__input:active {
  border-bottom-color: #537c85;
}
.contactus__input:focus {
  border-bottom: 2px solid #000;
}
.contactus__input--error {
  border-bottom-color: #ff4538;
}
.contactus__message-container--error {
  color: #f00;
}
.contactus__input-placholder {
  opacity: 1;
  position: absolute;
  bottom: 13px;
  left: 0;
  pointer-events: none;
  user-select: none;
  color: #889198;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
label.contactus__input-placholder--small {
  user-select: none;
  font-size: 14px !important;
  bottom: 40px;
}
.contactus__input,
.contactus__input-placholder {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}
@media (max-width: 500px) {
  .contactus__input,
  .contactus__input-placholder {
    font-size: 16px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .contactus__input,
  .contactus__input-placholder {
    font-size: 1.333333333333333vw;
    line-height: 2.133333333333334vw;
  }
}
.contactus__textarea-wrapper {
  height: 60px;
}
.contactus__textarea {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  height: 60px;
  border: 1px solid transparent;
  border-bottom: 2px solid #bfc4c8;
  color: #000;
}
.contactus__textarea:hover,
.contactus__textarea:active {
  border-bottom-color: #537c85;
}
.contactus__textarea:focus {
  border-bottom: 2px solid #000;
}
.contactus__submit {
  width: 210px;
  height: 45px;
  color: #33c4cd;
  border: 2px solid #33c4cd;
  background: #fff;
  border-radius: 0px;
  margin-top: 30px;
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
@media (max-width: 500px) {
  .contactus__submit {
    font-size: 16px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .contactus__submit {
    font-size: 1.333333333333333vw;
    line-height: 2.416666666666667vw;
  }
}
.contactus__submit:hover {
  border-color: #06b7c2;
  color: #fff;
  background: #06b7c2;
  cursor: pointer;
}
@media (max-width: 500px) {
  .contactus__submit {
    width: 100%;
  }
}
.nav {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 60px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9999;
  background: #fff;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.2);
  transition: top 0.3s linear 0s;
}
.nav--hidden {
  top: -78px;
}
.nav--noborder {
  border-bottom: 0px;
}
.nav-logo {
  flex: 0.4;
  flex-basis: 66px;
  padding-left: 30px;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .nav-logo {
    padding-left: 60px;
  }
}
.nav-items {
  flex: 5;
  flex-basis: 60px;
}
@media (max-width: 500px) {
  .nav-items {
    flex: none;
    display: none;
  }
}
.nav-items--showed {
  display: flex;
  flex-basis: 100%;
}
.nav-launch-btn {
  flex: 1;
  flex-basis: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #33c4cd;
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.nav-launch-btn:hover {
  cursor: pointer;
  background: #06b7c2;
}
@media (max-width: 768px) {
  .nav-launch-btn {
    height: 66px;
    display: none;
  }
}
.nav-launch-text {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}
@media (max-width: 500px) {
  .nav-launch-text {
    font-size: 18px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .nav-launch-text {
    font-size: 1.333333333333333vw;
    line-height: 2.416666666666667vw;
  }
}
.nav-download-btn {
  flex: 1;
  flex-basis: 10%;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  background: #33c4cd;
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
@media (max-width: 500px) {
  .nav-download-btn {
    font-size: 14px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .nav-download-btn {
    font-size: 1.333333333333333vw;
    line-height: 2.416666666666667vw;
  }
}
.nav-download-btn:hover {
  cursor: pointer;
  background: #06b7c2;
}
@media (max-width: 768px) {
  .nav-download-btn {
    height: 66px;
  }
}
.nav-download-text {
  color: #000;
}
.nav-menu-btn {
/*flex 0.24*/
  display: none;
  float: right;
  width: 44px;
  height: 60px;
  align-self: center;
  padding-top: 22px;
  box-sizing: border-box;
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
@media (max-width: 500px) {
  .nav-menu-btn {
    font-size: 14px;
    line-height: 30.4px;
  }
}
@media (min-width: 1200px) {
  .nav-menu-btn {
    font-size: 1.333333333333333vw;
    line-height: 2.416666666666667vw;
  }
}
.nav-menu-btn:hover {
  cursor: pointer;
  fill: #000 !important;
}
@media (max-width: 500px) {
  .nav-menu-btn {
    display: block;
  }
}
.menu-btn {
  width: 24px;
  height: 60px;
  margin: 0 auto;
  display: block;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.ul--nav {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .ul--nav {
    margin: 0;
    margin-top: 30px;
    flex-flow: column wrap;
  }
}
.li--nav {
  margin-right: 4%;
}
@media (max-width: 500px) {
  .li--nav {
    margin-bottom: 15px;
  }
}
.nav-logo-icon {
  width: 80px;
  height: 42px;
}
.nav-link {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  width: 100%;
  display: block;
}
@media (max-width: 768px) {
  .nav-link {
    height: 44px;
  }
}
.nav-link:hover,
.nav-link:active {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #000;
}
@media (max-width: 768px) {
  .nav-link:hover,
  .nav-link:active {
    color: #000;
    text-decoration: underline;
    border-bottom: 2px solid transparent;
  }
}
.menu-btn-layer {
  display: block;
  width: 21px;
  height: 1px;
  background: #bfc4c8;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.menu-btn-layer:nth-child(2) {
  margin: 5px 0;
}
.nav-menu-btn--open .menu-btn-layer:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: left center;
}
.nav-menu-btn--open .menu-btn-layer:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: left center;
}
.nav-menu-btn--open .menu-btn-layer:nth-child(2) {
  margin: 6.5px 0;
  transform: rotate(45deg);
  opacity: 0;
}
.nav-bg {
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  -webkit-animation: opac 0.8s;
  animation: opac 0.8s;
}
.nav-bg--visible {
  display: block;
}
.nav-download-icon {
  width: 16px;
  height: 22px;
  margin-right: 12px;
}
@-moz-keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
