<svg class="icon icon-lenovo"><use xlink:href="img/logos/brands_logos.svg#icon-lenovo"></use></svg>
<svg class="icon icon-tinkoff_simple"><use xlink:href="img/logos/brands_logos.svg#icon-tinkoff_simple"></use></svg>
<svg class="icon icon-Tele2"><use xlink:href="img/logos/brands_logos.svg#icon-Tele2"></use></svg>
<svg class="icon icon-bork"><use xlink:href="img/logos/brands_logos.svg#icon-bork"></use></svg>
<svg class="icon icon-toyota"><use xlink:href="img/logos/brands_logos.svg#icon-toyota"></use></svg>
<svg class="icon icon-samsung"><use xlink:href="img/logos/brands_logos.svg#icon-samsung"></use></svg>
<svg class="icon icon-rostelecom"><use xlink:href="img/logos/brands_logos.svg#icon-rostelecom"></use></svg>
<svg class="icon icon-carprice"><use xlink:href="img/logos/brands_logos.svg#icon-carprice"></use></svg>
<svg class="icon icon-Panasonic-Logo"><use xlink:href="img/logos/brands_logos.svg#icon-Panasonic-Logo"></use></svg>
<svg class="icon icon-Raiffeisen_Bank"><use xlink:href="img/logos/brands_logos.svg#icon-Raiffeisen_Bank"></use></svg>
<svg class="icon icon-Intel"><use xlink:href="img/logos/brands_logos.svg#icon-Intel"></use></svg>
<svg class="icon icon-IBM"><use xlink:href="img/logos/brands_logos.svg#icon-IBM"></use></svg>
<svg class="icon icon-audi_black"><use xlink:href="img/logos/brands_logos.svg#icon-audi_black"></use></svg>
<svg class="icon icon-gettaxi"><use xlink:href="img/logos/brands_logos.svg#icon-gettaxi"></use></svg>