*
	outline: 0
a, .nav *
	user-select: none

.ul
	padding-left: ms025

.li
	/*padding-left ms025*/
	margin-bottom ms05
	@media (max-width: d_phone)
		margin-bottom (ms025)

.ul--links
	list-style none
	padding-left 0

.li--links
	padding-left 0
	margin-bottom 0


.link--footer
	padding-left 0
	link(black, none, none, none)
	font-size: 18px
	&:hover
		linkhover(Cyan, none, 2px solid Cyan, 5px)

.footer-links__li
	margin-bottom 12px

.link--footer-facebook
	border-bottom 2px solid transparent !important

/*buttons style and typography*/
.button-simple
	px-width(187px)
	px-height(38px)
	font(roboto, 16px, 500, 25.6px, 16px)
	background: white
	color Cyan-lighter
	border: 2px solid Cyan-lighter
	border-radius border-radius
	Transition()
	user-select: none
	@media (max-width: d_tablet)
		width: 100%
		height: 40px

.button-simple:hover
	color white
	background: Cyan-lighter
	border: 2px solid Cyan-lighter
	cursor: pointer

.button-simple--fill
	color white
	background: Cyan-lighter
	border: 0px solid Cyan-lighter

.button-simple--fill:hover
	color white
	background: Cyan-darker
	border: 0px solid Cyan-lighter
	cursor: pointer
/*buttons style and typography end*/

.button-simple:first-child
	margin-right ms05
	@media (max-width: d_tablet)
		margin-right 0
		margin-bottom ms025

/*Logos*/
.icon-relap-logo
	fill: Cyan-lighter
	px-width: 154px
	px-height: 44px
	padding-left: 3px
	@media (max-width: d_phone)
		width 100px
/*Logos end*/

.icon-magnet
	px-height: 185px
	flex: 1
	margin-top: -53px
	@media (min-width: d_tablet) and (max-width: 813px)
		bottom: auto
		margin 60px 33vw 0 auto
	@media (max-width: 813px)
		max-height: 135px
		max-width: 165px
		height: 36vw
		width 48vw
		display block
		margin 7px 0 0 auto
	@media (min-width: 1200px)
		margin-top: -82px
	@media (min-width: 500px) and (max-width: 813px)
		margin-top: 10px

.factoids .factoid:nth-child(2)
	margin: ms05 auto

.factoids .factoid:nth-child(1)
	margin-top: ms1

.factoid
	display flex
	flex-direction column
	@media (max-width: d_tablet)
		text-align left

	&__text
		flex: 1

	&__batch
		flex: 1
		margin 15px 0 15px 0
		color: Cyan-lighter
		@media (max-width: d_tablet)
			margin 8px 0 6px 0

	&__batch--addition
		flex: 1
		margin 15px 0 15px 0
		color: Cyan-lighter
		@media (max-width: d_tablet)
			margin 8px 0 6px 0

.brands
	display: flex
	flex-direction row
	@media (max-width: d_office)
		margin-right: 30px
	@media (max-width: d_phone)
		flex-direction column
		margin-right: 0

.brands-wrapper
	@media (max-width: d_phone)
		display none

.brands-two-columns
	display: none
	@media (max-width: d_phone)
		display: block

.brands__row
	flex: 1
	display flex
	flex-direction column
	width: 50%

.brands__row--first .brands__logo
	@media (min-width: d_tablet)
		margin: 0

.brands__row:nth-child(-2n+2)
	margin: 0 7% 20px 7%

.brands__logo
	width: 100px
	height: 90px
	margin 0 auto
	@media (max-width: d_phone)
		height: 90px !important
		width: 90px

.brands__row--two-columns
	margin-right: 0!important

.brands__row--tc-first
	float: left

.icon-gettaxi
	width: 77px
	height: 70px

.icon-toyota
.icon-IBM
.icon-bork
.icon-Tele2
.icon-audi_black
.icon-lenovo
.icon-Intel
	width: 77px
	@media (max-width: d_office)
		width: 70px

.icon-p-bullet
	float: left
	width: 24px
	height: 32px
	padding-right: 15px

.p--text-transitions
	display: table

.widgets__wrapper
	display flex
	margin-bottom (ms05 + ms025)
	margin-left: -(ms025)
	@media (max-width: d_phone)
		margin-bottom ms0125

.widgets__card
	flex 1
	/*width: 138px*/
	height: 177px
	background: white
	float: left
	padding: ms025
	text-align left
	Transition()
	&:hover
		background rgba(120,215,221, .2)
		cursor pointer
		border-radius border-radius
	@media (max-width: d_tablet)
		// width: 10vw
		height: 32vw
		padding: ms0125
	@media (max-width: d_phone)
		height: 36vw
		padding: ms025 ms025 0 ms025
	@media (min-width: d_tablet) and (max-width: 900px)
		width: auto
		height: auto

.widgets__card:nth-child(-2n+2)
	margin: auto ms05
	@media (max-width: d_standart)
		margin: auto 0

.widgets__card--two-line-name
	padding-bottom: 31px

.widgets__icon
	width: 137px
	@media (max-width: 900px)
		width: auto
		height: auto
	@media (max-width: d_phone)
		width: 22vw
		height: 24vw

.widgets__headline
	margin-bottom ms025
	@media (max-width: d_phone)
		margin-bottom ms0125

.widgets__type
	text-align left
	margin-bottom 0px

.p--text-transitions
	margin-top: ms05
	margin-bottom: 0

.p--more-partners
	@media (max-width: d_phone)
		text-align center
		margin-bottom 0
	@media (max-width: d_tablet)
		width: 110px
		// height: 90px
		margin: 36px auto 0 auto


/*.p--icon-before:before
	content: ''
	display: block
	background: iurl(/icons.svg#icons_1-15) no-repeat
	width: 32px
	height: 96px*/

/*.p--icon-before
	background: url(/icons.svg#icons_1-15) no-repeat*/

.trigger-types__list-item:nth-child(2)
	margin (ms05 + ms025) 0 (ms05 + ms025) 0

.trigger-types__icons
	margin-top: -7px
	float left
	margin-right ms025
	@media (max-width: d_phone)
		margin-top: -5px

.trigger-types__icon
	width: 39px
	height 48px
	@media (min-width: d_standart)
		width: 3.33333333vw
		height 4vw


.trigger-types__icons1
	@media (max-width: d_phone)
		width: 30px
		height: 38px

.trigger-types__icons2
.trigger-types__icons3
	@media (max-width: d_phone)
		width: 30px
		height: 38px

.trigger-types__body
	display block
	overflow auto

.screen-fifth__header
	@media (min-width: d_tablet)
		float left
		width: 50%


.screen-fifth__contactus
	float left
	@media (min-width: d_tablet)
		float: right
		width: 50%
	@media (max-width: d_tablet)
		float: none
	@media (max-width: d_phone)
		margin-bottom 30px
		float: none

.screen-fifth__footer-links
	float left
	clear both

.facebook-icon
	width: 7px
	height: 14px
	padding: 2px 53px 6px 0
	@media screen and (min-width: 1200px)
		width: 0.58333vw
		height: 1.16667vw

@media screen and (min-width: 720px)
	.facebook-icon:hover
		fill: #33C4CD

.h3--third-screen
.ul--third-screen
	margin-bottom: ms1
	@media (max-width: d_phone)
		margin-bottom: ms05

.li--third-screen
	@media (min-width: d_phone)
		padding-left: ms025

.footer-btn
	display: none
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	@media (max-width: d_phone)
		display: flex
