/*contact us form*/
.contactus
	@media (min-width: d_tablet)
		margin-top: -17px

.contactus__input-wrapper
	position relative
	margin-bottom ms05
	height ms1

.contactus__input
	Transition()
	box-sizing: border-box
	outline: none
	width 100%
	height: ms1
	border 1px solid transparent
	border-bottom 2px solid Gray-light
	color: black
	padding-top: 17px
	padding-left: 0px
	border-radius 0px
	@media (max-width: d-tablet)
		padding-top: 24px

	&:hover
	&:active
		border-bottom-color Gray-dark

	&:focus
		border-bottom 2px solid black

.contactus__input--error
	border-bottom-color Alert

/*.contactus__message-container*/
.contactus__message-container--error
	color: red

.contactus__input-placholder
	opacity 1
	position absolute
	top: 24px
	left: 0
	pointer-events: none
	user-select: none
	color: Sec-text
	Transition()

label.contactus__input-placholder--small
	user-select: none
	font-size: 14px !important
	top 0
	Transition

.contactus__input
.contactus__input-placholder
.contactus__textarea
	font(roboto, 16px, 400, 25.6px, 16px)

.contactus__textarea-wrapper
	min-height: 64px
	position: relative

.contactus__textarea
	Transition()
	box-sizing: border-box
	outline: none
	width 100%
	height: ms1
	border 1px solid transparent
	border-bottom 2px solid Gray-light
	color: black
	padding-top: 23px
	padding-left: 0px
	border-radius 0px

	&:hover
	&:active
		border-bottom-color Gray-dark

	&:focus
		border-bottom 2px solid black

/*.contactus__input:focus + .contactus__input-placholder
	opacity 0 */

.contactus__submit
	width 210px
	height 45px
	color: Cyan-lighter
	border: 2px solid Cyan-lighter
	background white
	border-radius border-radius
	margin-top 50px
	font(roboto, 16px, 500, 29px, 16px)
	Transition()
	&:hover
		border-color: Cyan
		color: white
		background Cyan
		cursor pointer
	@media (max-width: d_phone)
		width: 100%

.conversational-form
	z-index: 1 !important

.form-error
	position: relative
	top: 0px
	font-family: roboto
	font-size: 1rem
	font-weight: normal
	color: #ff4538
/*contact us form end*/
