body
	padding: 0
	margin: 0

.screen
	position relative
	px-padding: ms2 ms2 ms2 ms2

.screen-first
	border: 10px solid Cyan-lighter
	height: 100vh
	box-sizing border-box
	min-height: 720px
	@media (max-width: d_office)
		px-padding: ms2 ms1 ms2 ms2
	@media (max-width: d_tablet)
		px-padding: ms05 ms05 ms05 ms05
		min-height: 568px
		height: unset
	@media (min-width: d_standart)
		padding: 17vh 10vw 10vh 10vw

.screen-second
	margin: 0
	display: flex
	flex-direction: row
	@media (max-width: d_tablet)
		flex-direction: column
	@media (max-width: d_office)
		px-padding: 90px ms05 ms05 ms05
	@media (max-width: d_phone)
		padding: 50px 30px 60px 24px

.screen-third
	display: flex
	flex-direction: row
	px-padding: 0 ms2 ms2 ms2
	@media (max-width: d_office)
		padding: ms05 ms05 ms1 ms05
	@media (max-width: d_phone)
		padding: 0 ms05 ms1 24px
	@media (min-width: d_office) and (max-width: d_standart)
		padding: 0 ms1 ms1 ms1
	@media (max-width: 900px)
		flex-direction: column

.screen-forth
	padding: 0 ms05 ms1 (ms05 - 5)
	@media (min-width: d_standart)
		px-padding: 0 (ms2 * 2.5) ms1 (ms2 * 2.5)
	@media (min-width: d_tablet)
		px-padding: 0 24px 108px 24px
		max-width: 50%
		margin: auto

.screen-fifth
	border: 10px solid #33c4cd
	overflow auto
	@media (max-width: d_phone)
		padding: ms05
		overflow auto

.screen-fifth__contactus
	margin-bottom: ms1
	@media (max-width: d_tablet)
		margin-top: ms1


.buttons-wrapper
	flex: 3
	@media (min-width: 813px)
		align-self flex-start
		margin-top: 1%
	@media (max-width: d_tablet)
		display: flex
		flex-flow: column
	@media (max-width: d_phone)
		margin-top 6vh
	@media (min-width: 1200px)
		margin-top: 1%
		align-self flex-start

.buttons-wrapper > a:first-child
	order: 2
.buttons-wrapper > a:last-child
	order: 1

.screen__container-one
	flex: 1
	margin-bottom ms05
	@media (min-width: d_tablet)
		margin-right: ms1
		margin-bottom 0

.screen__container-two
	flex: 1

.flex-container
	display: flex
	@media (max-width: 813px)
		flex-direction: column
