.nav
	display flex
	flex-flow row wrap
	width 100%
	min-height 50px
	justify-content: space-between
	position: fixed
	top: 0
	z-index 100
	background white
	box-shadow 0px 1px 0px 0px rgba(0,0,0,0.2)
	transition: top 0.3s linear 0s

.nav--hidden
	top: -78px

.nav--noborder
	border-bottom 0px

.nav-logo
	flex 0.4
	flex-basis 66px
	padding-left 21px
	padding-top: 6px
	@media (min-width: d_tablet)
		padding-left ms1

.nav-items
	flex: 5
	flex-basis ms1
	padding-top: 11px
	@media (max-width: d_tablet)
		flex: none
		display: none
		/*order 3*/

.nav-items--showed
	display: flex
	flex-basis: 100%

.nav-launch-btn
	flex 1
	flex-basis 4%
	text-align center
	display flex
	align-items center
	justify-content center
	background Cyan-lighter
	color: white
	Transition()
	text-decoration: none
	&:hover
		cursor pointer
		background Cyan
	@media (max-width: d_tablet)
		height 66px
		display: none

.nav-launch-btn--open
	display: flex

.nav-download-btn
	flex 1
	flex-basis 4%
	text-align center
	display flex
	align-items center
	justify-content center
	background Cyan-lighter
	color: white
	Transition()
	&:hover
		cursor pointer
		background Cyan
	@media (max-width: d_tablet)
		height 66px
		display: none
		padding-left: 7%
		margin-top: -55px
		justify-content: unset;

.visible
	display: flex

.nav-download-text
	color: white
	text-decoration: none
	font(roboto, 16px, 400, 29px, 16px)

.nav-menu-btn
	/*flex 0.24*/
	display none
	float: right
	width 44px
	height ms1
	align-self: center
	padding-top: 22px
	box-sizing: border-box
	font(roboto, 16px, 400, 29px, 14px)
	Transition()
	&:hover
		cursor pointer
		fill black !important
	@media (max-width: d_tablet)
		display: block
		height: 50px
		padding-top: 18px

.menu-btn
	width 24px
	height ms1
	margin 0 auto
	display: block
	Transition()

.ul--nav
	display flex
	flex-direction row
	margin 0
	@media (max-width: d_tablet)
		margin-top 12px
		margin-bottom 7vh
		flex-flow: column wrap
		width: 100%

.li--nav
	margin-right 4%
	@media (max-width: d_tablet)
		margin-bottom: ms025
		margin-left: 7%
		margin-right: 7%

.nav-download-text:after
	content: ""
	display: block
	height: 2px
	width: 0
	background: rgba(white, 1)
	transition: width 0.2s linear
	@media (max-width: d_tablet)
		height: 1px
		background: rgba(white, 0.4)
		width: 0%

.nav-download-btn:hover > .nav-download-text:after
	width: 100%

.nav-logo-icon
	width 80px
	height 40px

.nav-link
	link(black, none, 2px solid transparent, 0)
	Transition()
	width 100%
	display block
	@media (max-width: d_tablet)
		height 44px
	&:hover
	&:active
		cursor: pointer

.nav-link:hover:after
	width: 100%

.nav-link:after
	content: ""
	display: block
	height: 2px
	width: 0
	margin-top: -3px
	background: black
	transition: width 0.2s linear
	@media (max-width: d_tablet)
		background: rgba(black, .2)
		height: 1px
		margin-top: 20px
		width: 100%

.nav-link--active
	color: black
	@media (max-width: d_tablet)
		color: #33c4cd

.nav-link--active:after
	width: 100%
	@media (max-width: d_tablet)
		background: #33c4cd



.nav-link--FifthScreen.nav-link--active:after
	background: white

/*.button-wrapper
	flex: 1
	flex-basis: 10%
	text-align: center
	display: flex
	@media (max-width: d_tablet)
		display: none*/

.nav-link--FifthScreen
	color: white
	&:after
		background: rgba(white, 1)
		@media (max-width: d_tablet)
			background: rgba(white, 0.5)

.menu-btn-layer
	display block
	width 21px
	height 1px
	background Gray-light
	Transition()

.menu-btn-layer--white
	background: white

.menu-btn-layer:nth-child(2)
	margin: 5px 0

.nav-menu-btn--open .menu-btn-layer:nth-child(1)
	transform: rotate(45deg);
	transform-origin: left center;

.nav-menu-btn--open .menu-btn-layer:nth-child(3)
	transform: rotate(-45deg);
	transform-origin: left center;

.nav-menu-btn--open .menu-btn-layer:nth-child(2)
	margin: 6.5px 0
	transform: rotate(45deg);
	opacity 0

.nav-bg
	background: rgba(0, 0, 0, 0.5)
	position: fixed
	z-index: 1
	width: 100vw
	height: 100vh
	display none
	Transition()
	-webkit-animation: opac .8s
	animation: opac .8s

.nav-bg--visible
	display: block

@keyframes opac
	0%
		opacity: 0

	100%
		opacity 1

.nav-download-icon
	width: 16px
	height: 22px
	margin-right: ms0125
