// @font-face
//    font-family roboto
//    font-style normal
//    src url(fonts/geo_sans_light/GensansLight.ttf)

.h1
	font(roboto, 60px, 500, 72px, 10.4vw)
	@media (max-width: d_phone)
		line-height: 13.2vw !important
		margin-top: 25px
		margin-bottom: 0px

	@media (min-width: d_office)
		margin-top: 68px
		margin-bottom: 72px

.h2
	font(roboto, 36px, 400, 44px, 24px)

.h3
	font(roboto, 24px, 500, 33px, 21px)
	margin-top: 0
	@media (max-width: d_tablet)
		line-height: 27px
	@media (min-width: 1200px)
		line-height: 2.9vw

.h4
	font(roboto, 18px, 400, 29px, 16px)

.h5
	font(roboto, 16px, 400, 29px, 14px)

.h6
	font(roboto, 14px, 400, 29px, 12px)

.p
	font(roboto, 16px, 400, 25.6px, 14px)
	margin-top: 0
	@media (max-width: 500px)
		line-height: 20px

.p-small
	font(roboto, 14px, 400, 25.6px, 12px)

.p-micro
	font(roboto, 12px, 400, 25.6px, 11px)

.p-big
	font(roboto, 18px, 400, 32px, 16px)

.li
	font(roboto, 16px, 400, 25.6px, 14px)
	@media (max-width: d_phone)
		line-height: 20px !important

.li--nav
	font(roboto, 16px, 400, 25.6px, 18px)
	@media (max-width: d_phone)
		line-height: 20px !important

.p--text-transitions
	@media (max-width: d_phone)
		line-height: 20px !important

.trigger-types--text
	@media (max-width: d_phone)
		line-height: 20px !important

/*factoid*/
.factoid__text
	font(roboto, 16px, 400, 25.6px, 14px)

.factoid__batch, .factoid__batch--addition
	font(roboto, 57px, 500, 25.6px, 57px)
/*factoid end*/

.widgets__type
	font(roboto, 14px, 400, 19.6px, 14px)
	@media (max-width: d_office)
		font-size 12px
		line-height 16px

.widgets__headline
	font(roboto, 16px, 400, 25.6px, 16px)

.p--more-partners
	line-height: 18px

.nav-launch-text
	font(roboto, 16px, 500, 29px, 18px)
