/*Colors*/
Cyan = #06b7c2
Cyan-light = #78d8de
Cyan-lighter = #33c4cd
Cyan-darker = #039dab
Gray-dark = #537c85
Gray-light = #bfc4c8
Gray-lighter = #e7eaea
Sec-text = #889198
Cyan-deep = #008394
Alert = #ff4538
/*Colors end*/


rsize = 16px

/*main sizes*/
ms2 = 120px
ms1 = 60px
ms05 = 30px
ms025 = 15px
ms0125 = 12px
/*main sizes end*/

/*browser sizes*/
d_standart = 1200px
d_office = 1024px
d_tablet = 768px
d_phone = 500px
/*browser sizes end*/

font(f, s, w, lh, sm)
	font-family f
	font-size s
	font-weight w
	line-height lh
	@media (max-width: d_phone)
		font-size s = sm
		line-height (16*1.9)px
	@media (min-width: d_standart)
		font-size (s/d_standart*100)vw
		line-height (lh/d_standart*100)vw
		
px-width(w)
	width: w
	@media (min-width: d_standart)
		width: (w/d_standart*100)vw

px-height(h)
	height: h
	@media (min-width: d_standart)
		height: (h / d_standart*100)vw

px-padding(t, r, b, l)
	padding: t r b l
	@media (min-width: d_standart)
		padding: (t/d_standart*100)vw (r/d_standart*100)vw (b/d_standart*100)vw (l/d_standart*100)vw
		
px-margin(t, r, b, l)
	margin: t r b l
	@media (min-width: d_standart)
		margin: (t/d_standart*100)vw (r/d_standart*100)vw (b/d_standart*100)vw (l/d_standart*100)vw
		
border-radius = 0px

/*icon-before(c, bg, w, h)
	content: c
	display: block
	background: bg
	background-size 32px 96px
	width: w
	height: h*/
	
link(clr, undrln, brdrbtm, pdng-b)
	color: clr
	text-decoration: undrln
	border-bottom: brdrbtm
	
linkhover(clr, undrln, brdrbtm, pdng-b)
	color: clr
	text-decoration: undrln
	border-bottom: brdrbtm

Transition()
	-webkit-transition: all 0.2s ease 0s
	transition: all 0.2s ease 0s