.WidgetsViewrWrapper
	width: 100vw
	height: 100vh
	position: fixed
	z-index: 100

.WidgetsViewr__bg
	width: 100vw
	height: 100vh
	background: rgba(black, 0.8)
	z-index: 110
	position: fixed
	top: 0
	left: 0

.WidgetsViewr__icons-wrapper
	width: 100%
	z-index: 111
	position: fixed
	bottom: 70px
	left: 0

.WidgetsViewr__icons
	width: 683px
	display: block
	margin: 0 auto
	@media (max-width: d_tablet)
		width: 80%
		display: flex
		flex-flow: row nowrap

// .WidgetsViewr__icon-container
// 	display: block
// 	width: 74px
// 	height: 81px
// 	float: left
// 	margin-bottom: 12px;
// 	background: black;
// 	&:hover
// 		cursor: pointer
// 	@media (max-width: d_tablet)
// 		flex 1

.WidgetsViewr__icon-container:nth-child(n+1)
	margin-right: 7%
	@media (max-width: d_tablet)
		margin-right: 3%

.WidgetsViewr__icon-container:last-child
	margin-right: 0px

.WidgetsViewr__icon
	display: block
	opacity: .85
	&:hover
		opacity: 1
	&--active
		opacity: 1

#inlindeVideoPath1
	fill: #fff
/*
#inlindeVideoPath1
	fill: #f2f2f2

.WidgetsViewr__icon-container:before
	display: block
	content: ''
	position: relative
	width: 57px
	flex: 1
	bottom: -62px
	height: 62px
	background: rgba(0,0,0, .2)
	&:hover
		display: none*/

.WidgetsViewr__image-container
	width: 100%
	position: fixed
	z-index: 1020
	top: 50%
	left: 0
	transform: translateY(-50%)

.image-gallery-thumbnails-container
	width: 90%
	margin: 0 auto
	@media (max-width: d_tablet)
		width: 90%
		display: flex
		flex-flow: row nowrap
		justify-content: center

.image-gallery-thumbnails
	padding-top: 8vh
	cursor: default

.image-gallery-image
	width: 102vh
	display: block
	z-index: 112
	margin: 0 auto
	@media (max-width: d_tablet)
		width: 98%
	@media screen and (orientation:landscape)
		width: 102vh

.image-gallery-image img
	border-radius: 4px

.image-gallery-thumbnail
	background: black
	padding-right: 0
	margin-right: 2%
	cursor: pointer

.image-gallery-thumbnail:last-child
	margin-right: 0

.image-gallery-thumbnail img
	width: 17vh
	max-width: 70px
	opacity: .8
	margin-top: -1px
	border: none
	@media (max-width: d_tablet)
		width: 100%
	@media screen and (orientation:landscape)
		width: 11vh

.image-gallery-thumbnail img:hover
	opacity: 1

.image-gallery-thumbnail.active img
	opacity: 1
	border: none

.WidgetsViewr__close-icon
	position: fixed
	right: 21px
	top: 28px
	z-index: 1020
	opacity: .9
	&:hover
		cursor: pointer
		opacity: 1

.WidgetsViewr__ci-layer
	background: rgba(white, 1)
	height: 1px
	width: 25px
	margin-bottom: 10px

.WidgetsViewr__ci-layer:first-child
	transform: rotate(45deg)
	position: absolute

.WidgetsViewr__ci-layer:last-child
	transform: rotate(135deg)
